--
-- PostgreSQL database dump
--

\restrict SVehkSpdDdmJcOXt5x1wEcOSqFcxhNER45mkA1hDx9ieIFuKr5E1aV7qhXXiTOH

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    scheduled_date date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    title text NOT NULL,
    city text,
    status text DEFAULT 'open'::text,
    contractor_id uuid,
    permit_number text,
    window_start time without time zone,
    window_end time without time zone,
    customer_phone text,
    on_the_way_at timestamp with time zone,
    customer_first_name text,
    customer_last_name text,
    customer_email text,
    job_notes text,
    job_type text DEFAULT 'ecc'::text NOT NULL,
    project_type text DEFAULT 'alteration'::text NOT NULL,
    job_address text,
    customer_id uuid,
    location_id uuid,
    ops_status text DEFAULT 'need_to_schedule'::text NOT NULL,
    pending_info_reason text,
    follow_up_date date,
    next_action_note text,
    action_required_by text,
    lifecycle_state text DEFAULT 'active'::text NOT NULL,
    parent_job_id uuid,
    invoice_number text,
    data_entry_completed_at timestamp with time zone,
    closeout_status text,
    billing_recipient text,
    billing_name text,
    billing_address_line1 text,
    billing_address_line2 text,
    billing_city text,
    billing_state text,
    billing_zip text,
    billing_email text,
    billing_phone text,
    CONSTRAINT jobs_billing_recipient_check CHECK ((billing_recipient = ANY (ARRAY['contractor'::text, 'customer'::text, 'other'::text]))),
    CONSTRAINT jobs_closeout_status_check CHECK (((closeout_status IS NULL) OR (closeout_status = ANY (ARRAY['paperwork_required'::text, 'invoice_required'::text, 'closed_out'::text])))),
    CONSTRAINT jobs_parent_not_self CHECK (((parent_job_id IS NULL) OR (parent_job_id <> id))),
    CONSTRAINT jobs_status_check CHECK ((status = ANY (ARRAY['open'::text, 'on_the_way'::text, 'in_process'::text, 'completed'::text, 'failed'::text, 'cancelled'::text]))),
    CONSTRAINT jobs_title_not_blank CHECK ((btrim(title) <> ''::text))
);


--
-- Name: locations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.locations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    label text,
    address_line1 text,
    address_line2 text,
    city text,
    state text,
    postal_code text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    nickname text,
    zip text,
    owner_user_id uuid DEFAULT auth.uid()
);


--
-- Name: customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    first_name text,
    last_name text,
    email text,
    phone text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    full_name text,
    billing_address_line1 text,
    billing_address_line2 text,
    billing_city text,
    billing_state text,
    billing_zip text,
    owner_user_id uuid DEFAULT auth.uid(),
    billing_name text,
    deleted_at timestamp with time zone
);


--
-- Name: ecc_test_runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ecc_test_runs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    test_type text NOT NULL,
    data jsonb DEFAULT '{}'::jsonb NOT NULL,
    computed jsonb DEFAULT '{}'::jsonb NOT NULL,
    computed_pass boolean,
    override_pass boolean,
    override_reason text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    visit_id uuid,
    is_completed boolean DEFAULT false,
    equipment_id uuid,
    system_key text,
    system_id uuid
);


--
-- Name: job_equipment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_equipment (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    equipment_role text NOT NULL,
    manufacturer text,
    model text,
    serial text,
    tonnage numeric,
    refrigerant_type text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    model_number text,
    system_location text,
    system_id uuid NOT NULL
);


--
-- Name: job_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    event_type text NOT NULL,
    message text,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: job_systems; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_systems (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: ecc_test_runs ecc_test_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ecc_test_runs
    ADD CONSTRAINT ecc_test_runs_pkey PRIMARY KEY (id);


--
-- Name: job_equipment job_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_equipment
    ADD CONSTRAINT job_equipment_pkey PRIMARY KEY (id);


--
-- Name: job_events job_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_events
    ADD CONSTRAINT job_events_pkey PRIMARY KEY (id);


--
-- Name: job_systems job_systems_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_systems
    ADD CONSTRAINT job_systems_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: customers_deleted_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_deleted_at_idx ON public.customers USING btree (deleted_at);


--
-- Name: customers_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_email_idx ON public.customers USING btree (email);


--
-- Name: customers_email_trgm_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_email_trgm_idx ON public.customers USING gin (email public.gin_trgm_ops);


--
-- Name: customers_full_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_full_name_idx ON public.customers USING btree (full_name);


--
-- Name: customers_full_name_trgm_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_full_name_trgm_idx ON public.customers USING gin (full_name public.gin_trgm_ops);


--
-- Name: customers_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_name_idx ON public.customers USING btree (last_name, first_name);


--
-- Name: customers_owner_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_owner_user_id_idx ON public.customers USING btree (owner_user_id);


--
-- Name: customers_phone_digits_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_phone_digits_idx ON public.customers USING btree (regexp_replace(COALESCE(phone, ''::text), '\D'::text, ''::text, 'g'::text));


--
-- Name: customers_phone_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customers_phone_idx ON public.customers USING btree (phone);


--
-- Name: ecc_test_runs_job_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ecc_test_runs_job_id_idx ON public.ecc_test_runs USING btree (job_id);


--
-- Name: ecc_test_runs_job_id_type_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ecc_test_runs_job_id_type_idx ON public.ecc_test_runs USING btree (job_id, test_type);


--
-- Name: ecc_test_runs_system_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ecc_test_runs_system_id_idx ON public.ecc_test_runs USING btree (system_id);


--
-- Name: ecc_test_runs_unique_visit_equipment_test; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ecc_test_runs_unique_visit_equipment_test ON public.ecc_test_runs USING btree (visit_id, equipment_id, test_type) WHERE ((visit_id IS NOT NULL) AND (equipment_id IS NOT NULL));


--
-- Name: ecc_test_runs_visit_completed_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ecc_test_runs_visit_completed_idx ON public.ecc_test_runs USING btree (visit_id, is_completed);


--
-- Name: ecc_test_runs_visit_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ecc_test_runs_visit_id_idx ON public.ecc_test_runs USING btree (visit_id);


--
-- Name: job_equipment_job_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX job_equipment_job_id_idx ON public.job_equipment USING btree (job_id);


--
-- Name: job_equipment_system_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX job_equipment_system_id_idx ON public.job_equipment USING btree (system_id);


--
-- Name: job_events_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX job_events_created_at_idx ON public.job_events USING btree (created_at);


--
-- Name: job_events_job_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX job_events_job_id_idx ON public.job_events USING btree (job_id);


--
-- Name: job_systems_job_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX job_systems_job_id_idx ON public.job_systems USING btree (job_id);


--
-- Name: job_systems_job_id_name_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX job_systems_job_id_name_unique ON public.job_systems USING btree (job_id, name);


--
-- Name: jobs_contractor_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_contractor_id_idx ON public.jobs USING btree (contractor_id);


--
-- Name: jobs_customer_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_customer_id_idx ON public.jobs USING btree (customer_id);


--
-- Name: jobs_follow_up_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_follow_up_date_idx ON public.jobs USING btree (follow_up_date);


--
-- Name: jobs_lifecycle_state_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_lifecycle_state_idx ON public.jobs USING btree (lifecycle_state);


--
-- Name: jobs_location_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_location_id_idx ON public.jobs USING btree (location_id);


--
-- Name: jobs_ops_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_ops_status_idx ON public.jobs USING btree (ops_status);


--
-- Name: jobs_parent_job_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX jobs_parent_job_id_idx ON public.jobs USING btree (parent_job_id);


--
-- Name: locations_address_trgm_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX locations_address_trgm_idx ON public.locations USING gin (address_line1 public.gin_trgm_ops);


--
-- Name: locations_city_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX locations_city_idx ON public.locations USING btree (city);


--
-- Name: locations_city_trgm_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX locations_city_trgm_idx ON public.locations USING gin (city public.gin_trgm_ops);


--
-- Name: locations_customer_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX locations_customer_id_idx ON public.locations USING btree (customer_id);


--
-- Name: locations_owner_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX locations_owner_user_id_idx ON public.locations USING btree (owner_user_id);


--
-- Name: ecc_test_runs set_ecc_test_runs_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER set_ecc_test_runs_updated_at BEFORE UPDATE ON public.ecc_test_runs FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: job_equipment set_job_equipment_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER set_job_equipment_updated_at BEFORE UPDATE ON public.job_equipment FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: jobs trg_prevent_job_parent_cycles; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_prevent_job_parent_cycles BEFORE INSERT OR UPDATE OF parent_job_id ON public.jobs FOR EACH ROW EXECUTE FUNCTION public.prevent_job_parent_cycles();


--
-- Name: ecc_test_runs ecc_test_runs_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ecc_test_runs
    ADD CONSTRAINT ecc_test_runs_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(id) ON DELETE SET NULL;


--
-- Name: ecc_test_runs ecc_test_runs_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ecc_test_runs
    ADD CONSTRAINT ecc_test_runs_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: ecc_test_runs ecc_test_runs_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ecc_test_runs
    ADD CONSTRAINT ecc_test_runs_system_id_fkey FOREIGN KEY (system_id) REFERENCES public.job_systems(id) ON DELETE SET NULL;


--
-- Name: ecc_test_runs ecc_test_runs_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ecc_test_runs
    ADD CONSTRAINT ecc_test_runs_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.job_visits(id) ON DELETE SET NULL;


--
-- Name: job_equipment job_equipment_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_equipment
    ADD CONSTRAINT job_equipment_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_equipment job_equipment_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_equipment
    ADD CONSTRAINT job_equipment_system_id_fkey FOREIGN KEY (system_id) REFERENCES public.job_systems(id) ON DELETE SET NULL;


--
-- Name: job_events job_events_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_events
    ADD CONSTRAINT job_events_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_systems job_systems_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_systems
    ADD CONSTRAINT job_systems_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_contractor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_contractor_id_fkey FOREIGN KEY (contractor_id) REFERENCES public.contractors(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_parent_job_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_parent_job_fk FOREIGN KEY (parent_job_id) REFERENCES public.jobs(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_parent_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_parent_job_id_fkey FOREIGN KEY (parent_job_id) REFERENCES public.jobs(id) ON DELETE SET NULL;


--
-- Name: locations locations_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customers; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.customers ENABLE ROW LEVEL SECURITY;

--
-- Name: customers customers_delete_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY customers_delete_owner ON public.customers FOR DELETE TO authenticated USING ((owner_user_id = auth.uid()));


--
-- Name: customers customers_insert_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY customers_insert_owner ON public.customers FOR INSERT TO authenticated WITH CHECK ((owner_user_id = auth.uid()));


--
-- Name: customers customers_select_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY customers_select_owner ON public.customers FOR SELECT TO authenticated USING ((owner_user_id = auth.uid()));


--
-- Name: customers customers_update_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY customers_update_owner ON public.customers FOR UPDATE TO authenticated USING ((owner_user_id = auth.uid())) WITH CHECK ((owner_user_id = auth.uid()));


--
-- Name: locations; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.locations ENABLE ROW LEVEL SECURITY;

--
-- Name: locations locations_delete_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY locations_delete_owner ON public.locations FOR DELETE TO authenticated USING ((owner_user_id = auth.uid()));


--
-- Name: locations locations_insert_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY locations_insert_owner ON public.locations FOR INSERT TO authenticated WITH CHECK (((owner_user_id = auth.uid()) AND (EXISTS ( SELECT 1
   FROM public.customers c
  WHERE ((c.id = locations.customer_id) AND (c.owner_user_id = auth.uid()))))));


--
-- Name: locations locations_select_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY locations_select_owner ON public.locations FOR SELECT TO authenticated USING ((owner_user_id = auth.uid()));


--
-- Name: locations locations_update_owner; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY locations_update_owner ON public.locations FOR UPDATE TO authenticated USING ((owner_user_id = auth.uid())) WITH CHECK (((owner_user_id = auth.uid()) AND (EXISTS ( SELECT 1
   FROM public.customers c
  WHERE ((c.id = locations.customer_id) AND (c.owner_user_id = auth.uid()))))));


--
-- PostgreSQL database dump complete
--

\unrestrict SVehkSpdDdmJcOXt5x1wEcOSqFcxhNER45mkA1hDx9ieIFuKr5E1aV7qhXXiTOH

